.button_type_edit {
    width: 24px;
    height: 24px;
    align-self: start;
    padding: 0;
    border: #FFFFFF 1px solid;
    margin-top: 15px;
    transition: opacity linear .5s;
}

.button_type_edit:hover {
    opacity: .6;
    transition: opacity linear .5s;
}

@media screen and (max-width:950px) {
    .button_type_edit {
        width: 20px;
        height: 20px;
        margin-top: 7px;
    }
}

@media screen and (max-width:760px) {
    .button_type_edit {
        width: 18px;
        height: 18px;
        margin-top: 13px;
    }
}